.button {
  display:inline-block;
  box-sizing: border-box;
  line-height:1;
  text-transform: uppercase;
  @include font-size(12, 12);
  margin-bottom:0.5rem;

  &.button--full-width {
    display:block;
  }

}

.button--xlarge {
  @include font-size(16, 16);
}

.button--large {
  @include font-size(14, 14);
}

.button--small {
  @include font-size(10, 10);
}

.button--xsmall {
  @include font-size(8, 8);
}

.button--primary:link,
.button--primary:visited {
  background:linear-gradient(to bottom, $green-blue 0%, darken($green-blue, 7%) 100%), $green-blue;
  border-radius: $base-border-radius;
  padding:1rem 1.2rem;
  border-bottom:2px solid rgba(black, 0.3);
  color:white !important;

  &:hover {
    background:linear-gradient(to top, $green 0%, darken($green, 7%) 100%), $green;
  }

  &.button--large,
  &.button--xlarge {
    @include media($l-up) {
      padding:1.3rem 1.6rem;
    }
  }

  &.button--small,
  &.button--xsmall {
    padding:0.6rem 1rem;
  }
}

.button--secondary:link,
.button--secondary:visited {
  background:linear-gradient(to bottom, white 0%, darken($light-grey, 4%) 100%), $light-grey;
  border-radius: $base-border-radius;
  padding:1rem 1.2rem;
  border-bottom:2px solid rgba(black, 0.3);
  color:$blue !important;

  &:hover {
    background:linear-gradient(to top, white 0%, darken($light-grey, 4%) 100%), white;
  }

  &.button--large,
  &.button--xlarge {
    @include media($l-up) {
      padding:1.3rem 1.6rem;
    }
  }

  &.button--small,
  &.button--xsmall {
    padding:0.6rem 1rem;
  }
}

.button--tertiary:link,
.button--tertiary:visited {
  border-radius: 10rem;
  border:1px solid $blue;
  padding:1rem 1.2rem;
  color:$blue !important;

  &:hover {
    border:1px solid darken($light-grey, 5%);
  }

  &.button--large,
  &.button--xlarge {
    @include media($l-up) {
      padding:1.3rem 1.6rem;
    }
  }

  &.button--small,
  &.button--xsmall {
    padding:0.6rem 1rem;
  }
}

.button-group {
  z-index:1;
  .button:not(:last-of-type) {
    margin-right:0.5rem;
  }
}