// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Zilla Slab', 'Lato', sans-serif;

// Font Sizes
$base-font-size: 1.6rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$vr: 1rem; // vertical-rhythm = 10px
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Primary Colours
$blue: #244a7a;
$green: #8ab232;

// Secondary Colours
$coral: #ED6A5E;
$light-blue: #7EA8BE;
$green-blue: #2176AE;

// Tertiary Colours
$white: #ffffff;
$light-grey: #d5d5d5;
$grey: #9c9c9c;
$dark-grey: #747474;
$soft-black: #222222;


// Font Colors
$base-font-color: $soft-black;
$action-color: $green-blue;
$link-color:$green-blue;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $light-grey;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;


